/* Custom css */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  color: #152B70;
  background-size: 15px 15px;
  background-image:
    linear-gradient(to right, #fbfbfb 1px, transparent 1px),
    linear-gradient(to bottom, #fbfbfb 1px, transparent 1px);
}

h4 {
  font-size: 14px;
}

#navigation, #send-email, #sauvegarder {
  background-color: #152B70;
  color: #fff;
}

#navigation .w3-button:hover, #send-email:hover, #sauvegarder:hover {
  background-color: #ff7f6d !important;
  color: #fff !important;
}

#fromages {
    margin-top: 39px;
}

#fromages h3 {
  color: #ff7f6d;
}

#fromages .w3-card {
  background: white;
}

.prix {
  text-align: right;
}

.ajout {
  padding: 6px 11px;
}

.ajout.w3-disabled {
  pointer-events: none;
}

#fromages .w3-input {
  display: inline;
  width: 100px;
}

.fromage-card {
  padding-bottom: 8px;
}

.fromage-card img {
  max-height: 65px;
  max-width: 75px;
  margin-top: 8px;
}

.fromage-card header {
  display: flex;
  justify-content: space-between;
}

#commande-table .suppr {
  padding: 0px;
}

/* Print */
@media print {
  body {
    visibility: hidden;
  }
  #fromages {
    display: none;
  }
  #commande {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
  #commande .suppr, #sauvegarder, #send-email {
    visibility: hidden;
  }
}
